.title-content-pair{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 2em;
}
.title-content-pair h1,.title-content-pair h2{
    margin-bottom: 0.3em;
}
.title-content-pair ul{
    margin:0.15em;
}