/*
 * WARNING: This is copyrighted content.
 *
 * Owner: Mustafa El-rasheid
 * All rights reserved.
 */
:root {
  --light-gray-color: #46474d;
  --dark-gray-color: #20222a;
  --dark-sliver-color: #a7a6b1;
  --dark-sky-color: #0074e0;
  --light-sky-color: #2595ff;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.expanded {
  height: auto; /* Set height to auto when expanded */
}

.collapsed {
  height: 0; /* Set height to 0 when collapsed */
}

table, tbody {
  width: 100%;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: white;
}

input[type=range] {
  appearance: none;
  background-color: var(--light-gray-color);
  height: 0.4em;
  margin: 0.6em 0.3em;
  width: calc(100% - 0.6em);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 0.7em;
  height: 1.5em;
  background-color: var(--dark-sliver-color);
  border-radius: 25%;
}

::-webkit-scrollbar {
  background-color: var(--dark-gray-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-gray-color);
  border-radius: 5em;
  border: 0.2em solid var(--dark-gray-color);
}

a {
  color: white;
}

html, body {
  height: 100%;
  background-color: var(--light-gray-color);
  color: white;
}
html .vertical-flex-container, body .vertical-flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
html .horizontal-flex-container, body .horizontal-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}
html nav button, body nav button {
  flex: 1 1 auto;
  text-align: center;
  padding: 0.5em;
}
html .filler, body .filler {
  flex: 1 1 auto;
}
html .blue-button, body .blue-button {
  background-color: #303030;
  border: white solid 0.2em;
  border-radius: 3em;
  min-height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
html .blue-button:hover, body .blue-button:hover {
  background-color: white;
  color: var(--light-gray-color);
}
html .centering-parent, body .centering-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
html header, body header {
  padding: 1em;
  flex: 0 1 auto;
  background-color: var(--light-gray-color);
}
html header h1, body header h1 {
  display: inline;
  flex: 0 1 auto;
}
html header a, body header a {
  text-decoration: none;
}
html header .dropdown, body header .dropdown {
  position: relative;
}
html header .dropdown .dropdown-content, body header .dropdown .dropdown-content {
  background-color: var(--light-gray-color);
  min-width: 10em;
  padding: 1.5em;
  border-radius: 0.5em;
  position: absolute;
  right: 0px;
  top: 100%;
  display: none;
  box-shadow: 0.3em 0.3em 2em rgba(0, 0, 0, 0.3333333333);
}
html header .dropdown:hover .dropdown-content, html header .dropdown:focus-within .dropdown-content, body header .dropdown:hover .dropdown-content, body header .dropdown:focus-within .dropdown-content {
  display: block;
}
html main, body main {
  padding: 1em;
  flex: 1 1 auto;
  background-color: var(--dark-gray-color);
  overflow: auto;
}
html main nav button, body main nav button {
  margin: 0.2em;
  border-radius: 0.5em;
  background-color: var(--light-gray-color);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
html main nav .highlighted, body main nav .highlighted {
  background-color: var(--dark-sliver-color);
}
html main #main-excute-section, body main #main-excute-section {
  height: 100%;
}
html main #main-excute-section .activity, body main #main-excute-section .activity {
  border-left: 1em white solid;
  border-radius: 0.5em;
  position: absolute;
  left: 0.2em;
  right: 0.2em;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: var(--light-gray-color);
}
html main #main-excute-section .activity button, body main #main-excute-section .activity button {
  flex: 0 1 auto;
  padding: 0em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: var(--light-gray-color);
  border: 0.2em solid var(--dark-sliver-color);
}
html main #main-excute-section .day-tab, body main #main-excute-section .day-tab {
  position: relative;
  width: 100%;
  height: 100%;
}
html main #main-excute-section #day-tabs-container-parent, body main #main-excute-section #day-tabs-container-parent {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  margin-right: 0.2em;
}
html main #main-excute-section #day-tabs-container-parent #current-time, body main #main-excute-section #day-tabs-container-parent #current-time {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 0.3em;
  background-color: rgba(0, 217, 255, 0.3647058824);
}
html main #main-excute-section #day-tabs-container-parent #day-tabs-hours-indecator, body main #main-excute-section #day-tabs-container-parent #day-tabs-hours-indecator {
  font-size: 0.8em;
  color: var(--dark-sliver-color);
  position: relative;
  overflow: hidden;
}
html main #main-excute-section #day-tabs-container-parent #day-tabs-hours-indecator *, body main #main-excute-section #day-tabs-container-parent #day-tabs-hours-indecator * {
  overflow: hidden;
}
html main #main-plan-section, body main #main-plan-section {
  height: 100%;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor, body main #main-plan-section #routine-activities-tab .routine-activity-editor {
  background-color: var(--light-gray-color);
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 1em;
  margin: 1em 0.2em 1em 0.2em;
  border-left: 1em solid white;
  min-height: 4.2em;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor *, body main #main-plan-section #routine-activities-tab .routine-activity-editor * {
  overflow: hidden;
  transition: grid-template-rows 200ms ease-in-out, transform 200ms ease-in-out;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor #routine-activities-creator-feilds-container, body main #main-plan-section #routine-activities-tab .routine-activity-editor #routine-activities-creator-feilds-container {
  display: grid;
  grid-template-rows: 0fr;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor img, body main #main-plan-section #routine-activities-tab .routine-activity-editor img {
  width: 1.7em;
  margin: 0.15em 0.5em;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor h1, html main #main-plan-section #routine-activities-tab .routine-activity-editor h2, html main #main-plan-section #routine-activities-tab .routine-activity-editor h3, html main #main-plan-section #routine-activities-tab .routine-activity-editor h4, html main #main-plan-section #routine-activities-tab .routine-activity-editor h5, html main #main-plan-section #routine-activities-tab .routine-activity-editor h6, body main #main-plan-section #routine-activities-tab .routine-activity-editor h1, body main #main-plan-section #routine-activities-tab .routine-activity-editor h2, body main #main-plan-section #routine-activities-tab .routine-activity-editor h3, body main #main-plan-section #routine-activities-tab .routine-activity-editor h4, body main #main-plan-section #routine-activities-tab .routine-activity-editor h5, body main #main-plan-section #routine-activities-tab .routine-activity-editor h6 {
  flex: 1;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild, body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild {
  align-content: center;
  padding: 0.2em;
  min-height: 2em;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=text], html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild select, html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=number], html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=submit], html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild select, body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=text], body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild select, body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=number], body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=submit], body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild select {
  margin: 0.2em;
  border-radius: 0.5em;
  padding: 0.5em;
  color: inherit;
  appearance: none;
  border: black 0em none;
  background-color: var(--dark-gray-color);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=checkbox], body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild input[type=checkbox] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild label, body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild label {
  min-width: 5em;
  display: flex;
  align-items: center;
}
html main #main-plan-section #routine-activities-tab .routine-activity-editor .feild table label, body main #main-plan-section #routine-activities-tab .routine-activity-editor .feild table label {
  display: inline;
}
html main #sing-in-popup, body main #sing-in-popup {
  background-color: var(--light-gray-color);
  padding: 1em;
  border-radius: 1em;
}
html main #sing-in-popup h2, body main #sing-in-popup h2 {
  text-align: center;
}
html main #sing-in-popup .sign-in-button-provider, body main #sing-in-popup .sign-in-button-provider {
  width: 100%;
  padding: 1em;
  background-color: white;
  color: var(--light-gray-color);
  border-radius: 1em;
  margin: 1em 0em;
}
html main #sing-in-popup .feild, body main #sing-in-popup .feild {
  align-content: center;
  min-height: 2em;
}
html main #sing-in-popup .feild input[type=text], html main #sing-in-popup .feild select, html main #sing-in-popup .feild input[type=number], html main #sing-in-popup .feild input[type=submit], html main #sing-in-popup .feild input[type=email], html main #sing-in-popup .feild input[type=password], html main #sing-in-popup .feild select, body main #sing-in-popup .feild input[type=text], body main #sing-in-popup .feild select, body main #sing-in-popup .feild input[type=number], body main #sing-in-popup .feild input[type=submit], body main #sing-in-popup .feild input[type=email], body main #sing-in-popup .feild input[type=password], body main #sing-in-popup .feild select {
  margin: 0.5em 0em;
  border-radius: 0.5em;
  padding: 0.5em;
  color: inherit;
  appearance: none;
  border: black 0em none;
  background-color: var(--dark-gray-color);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: 2em;
}
html footer, body footer {
  padding: 0.5em;
  flex: 0 1 auto;
  background-color: var(--light-gray-color);
  text-align: center;
  color: var(--dark-sliver-color);
}
html footer a, body footer a {
  color: var(--dark-sliver-color);
}

/*# sourceMappingURL=style.css.map */
